* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #18181B, #450A0A);
}

.login-wrapper {
    display: flex;
    min-height: 100vh;
}

/* KIRI */
.login-info {
    flex: 1;
    color: white;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-info h1 {
    font-size: 40px;
    line-height: 1.2;
}

.login-info p {
    margin-top: 20px;
    font-size: 16px;
    opacity: 0.9;
}

/* KANAN */
.login-card {
    width: 420px;
    background: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -10px 0 30px rgba(0,0,0,.15);
}

.login-card h2 {
    font-size: 28px;
}

.subtitle {
    color: #64748b;
    margin-bottom: 30px;
}

/* FORM */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #c7d2fe;
    outline: none;
}

input:focus {
    border-color: #d85341;
}

/* BUTTON */
button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #7F1D1D;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    margin-top: 15px;
}

button:hover {
    background: #b15050;
}

/* ERROR */
.error {
    background: #fee2e2;
    color: #b91c1c;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .login-info {
        display: none;
    }

    .login-card {
        width: 100%;
    }
}
